$teal: #1ECD97;

.wrapxxx {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100px;
  width: 200px;
  margin: auto;
}

.buttonxxx {
  background-color: transparent;
  border: 2px solid $teal;
  border-radius: 4px;
  display: inline-block;
  color: $teal;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  letter-spacing: 1px;
  margin: 5px;
  overflow: hidden;
  padding: 0 22px;
  text-align: center;
  text-transform: uppercase;
  transition: all .2s ease-in-out;

  &:hover {
    background-color: $teal;
  }
}

.roll-text {
  display: block;
  position: relative;
  transition: all 420ms cubic-bezier(.175,.885,.32,1.275);
}

.roll-text:last-child {
  color: #fff;
}

.rollover:hover .roll-text:first-child {
  margin-top: -38px;
}
